body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

.page-wrapper {
  width: 1440px;
  margin: 0 auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container-slider {
  width: 1839px;
  margin: 0 auto;
}

.button {
  display: block;
  font: inherit;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  transition: background-color 0.6s ease;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
}

.button.green {
   background-color: #00ca74;
 }

.button.green:hover,
.button.green:focus {
  background-color: #00bc6c;
}

.button.green:active {
  background-color: #00aa62;
}

.button.yellow {
  background-color: #efc84a;
}

.button.yellow:hover,
.button.yellow:focus {
  background-color: #eab534;
}

.button.yellow:active {
  background-color: #e5a722;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 140px;
  margin-bottom: 112px;

  /*Временно*/
  outline: 1px solid #00CA74;
}

.about > p:first-of-type {
  font-size: 16px;
  line-height: 45px;
  font-weight: 500;
}

.about p:nth-of-type(3) {
  text-transform: uppercase;
}

.about .about-figure {
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
  padding-left: 17px;
}

.about-text {
  display: flex;
  flex-wrap: wrap;
  width: 650px;


  /*Временно*/
  outline: 1px solid #ca00c2;
}

.about-text-1 {
  padding-top: 34px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 206px;
  justify-content: space-between;
}

.about-text-1 p:first-child {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-text-1 p:last-child {
  margin: 0;
}

.about-text-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 160px;
  padding-top: 39px;
}

.about-text-2 p:first-child {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-logo {
  width: 360px;

  /*Временно*/
  outline: 1px solid #ca00c2;
}

.amenities {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 9px;
  margin: 0px;
  min-height: 153px;
}

.our-advantages {
  margin: 0 auto;
  padding: 0;
  width: 359px;
  list-style: none;
  display: flex;

  outline: 1px solid #ca00c2;
}

.our-advantages-list {
  width: 343px;
}

.our-advantages-list p:first-child {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  padding-top: 3px;
}

.our-advantages-list-percent {
  font-size: 22px;
  vertical-align: 18px;
}

.our-advantages-list p:last-child {
  font-weight: 400;
  color: rgb(40, 49, 54);
  line-height: 18px;

  margin: 0px;
  margin-top: -7px;
  padding-left: 2px;
}

.maps {
  margin-bottom: 60px;
}

.maps-address p:first-child {
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 700;
  font-size: 18px;
}

.maps-address p:nth-child(2),
.maps-address p:nth-child(3) {
  margin: 0;
  padding-top: 6px;
  padding-bottom: 11px;
  padding-left: 1px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.maps-address .telephone {
  line-height: 18px;
  color: #666666;
}

.button-info-maps {
  margin-top: 27px;
  padding: 13px;
}

.main-footer p:first-of-type {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.main-footer p:first-of-type {
  color: #444444;
  line-height: 22px;
  font-weight: 400;
}

.modal {
  width: 960px;
  display: flex;
  flex-direction: column;
  padding-top: 73px;
  padding-left: 103px;

  /*Временно*/
  outline: 1px solid #d7373b;
}

.modal-letter > p:first-of-type {
  margin: 0;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.appointment-form {
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 261px;
}

.appointment-item {
  display: flex;
  flex-direction: column;
}

.appointment-item-text p {
  font-weight: 700;
  line-height: 18px;
}

.main-header {
  background-color: #eeeeee;
  text-transform: uppercase;
  padding-left: 341px;
  padding-right: 340px;
  padding-top: 49px;
  /*Временно для сетки*/
  min-height: 114px;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.main-header-logo {
  width: 160px;
  height: 65px;

  /* Временно для сетки */
  outline: 1px solid #00CA74;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-left: auto;
  justify-content: space-between;

  /*Временно*/
  outline: 1px solid #ca919c;

}

.site-navigation,
.user-basket {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  outline: 1px solid #d7373b;

  list-style: none;
  line-height: 30px;
  font-weight: 500;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  padding-top: 26px;
}

.site-navigation li {
  padding-left: 45px;
}

.site-navigation li:first-child {
  padding-left: 1px;
}

.site-navigation li:nth-child(3) {
  padding-left: 49px;
}

.user-basket {
  padding-top: 26px;
}

.site-navigation a,
.user-basket a {
  color: #000000;
}

.site-navigation a:hover,
.user-basket a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-basket a:focus {
  color: #000000;
  opacity: 0.3;
}

.slider b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.text-property {
  color: rgb(40, 49, 54);
  font-weight: 400;
}

.text-items {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 31px;
}

/*Слайдер academy*/
.slider-new {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 36px;
  height: 33px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0 200px;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 140px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 77% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 82% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 79.5% 19px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 49%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.slider-item-button {
  width: 240px;
  padding: 16px;

  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
/*Слайдер academy*/

.features {
  margin-bottom: 122px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 200px 0 140px;
  margin: 0;

  list-style: none;

  /*Временно*/
  outline: 1px solid #0400d7;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 150px;
  width: 300px;

  /*Верменно*/
  outline: 1px solid #d7373b;
}

.feature-item:nth-child(1) {

  background-image: url("../img/illustration-1.png");
  background-repeat: no-repeat;
}

.feature-item:nth-child(2) {
  background-image: url("../img/illustration-2.png");
  background-repeat: no-repeat;
}

.feature-item:nth-child(3) {
  background-image: url("../img/illustration-3.png");
  background-repeat: no-repeat;
}

.feature-item h3 {
  margin: 0;
  padding-top: 20px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.text-items-1 {
  width: 285px;
}

.text-items-3 {
  width: 280px;
}

.button-service {
  padding: 13px 0;
  width: 160px;
}

.appointment-item label {
  font-weight: 700;
  line-height: 18px;
}

.appointment-item input,
.appointment-item textarea {
  font-weight: 400;
  line-height: 18px;
  border: 2px solid #d7dcde;
}

.appointment-item input:hover,
.appointment-item textarea:hover,
.appointment-item input:focus,
.appointment-item textarea:focus {
  border: 2px solid #b4b9bb;
}

.appointment-item input:active,
.appointment-item textarea:active {
  border: 2px solid #000000;
}

.appointment-item input:invalid,
.appointment-item textarea:invalid {
  border: 2px solid #e74246;
  color: #e74246;
}

.partners {
  margin-bottom: 118px;
  padding: 0 140px;
  outline: 1px solid #18d700;
}

.our-partners {
  margin: 0 auto;
  padding: 0 43px 0 31px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;


  list-style: none;
  align-items: center;

  /*Верменно*/
  outline: 1px solid #d7373b;
}

.our-partners li:nth-child(1) {
  margin-top: 7px;
  margin-right: 96px;
}

.our-partners li:nth-child(2) {
  margin-right: 103px;
}

.our-partners li:nth-child(3) {
  margin-right: 121px;
}

.our-partners li:nth-child(4) {
  margin-top: 4px;
}

.maps-address {
  position: absolute;
  left: 341px;
  top: 1897px;
  display: flex;
  flex-direction: column;
  padding: 31px 50px 47px 50px;
  width: 319px;
  min-height: 308px;
  background-color: #ffffff;

  /*Верменно*/
  outline: 1px solid #d7373b;
}

.footer-social {
  display: flex;
  margin-right: 139px;

  /*Верменно*/
  outline: 1px solid #d7373b;
}

.footer-text {
  display: flex;
  flex-direction: column;

  /*Верменно*/
  outline: 1px solid #d7373b;
}

.footer-text p:first-child {
  margin: 0;
  padding-top: 9px;
}

.main-footer-info {
  display: flex;

  /*Верменно*/
  outline: 1px solid #d7373b;
}

/*Каталог*/

.page-title {
  font-size: 55px;
  line-height: 55px;
  background-color: #eeeeee;
  font-weight: 500;

  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 108px;
  text-align: center;
}

.container-page {
  padding: 0 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  outline: 1px solid #134a0e;
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  /*Верменно*/
  outline: 1px solid #d7373b;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
}

.cost {
  color: #283136;
  line-height: 22px;
  text-transform: uppercase;
}

.cost input {
  color: #283136;
  line-height: 22px;
  text-transform: uppercase;
  background-color: rgb(238, 238, 238);
  border: none;
}

.filter-option-grid,
.filter-option-specific {
  list-style: none;
  line-height: 20px;
  color: rgb(40, 49, 54);
}

.filter-option-grid:hover,
.filter-option-specific:hover {
  color: rgb(0, 0, 0);
}

.filter-option-grid:disabled,
.filter-option-specific:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
  line-height: 18px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: rgb(223, 223, 223);
}

.filter-button:active {
  background-color: rgb(213, 213, 213);
  color: rgba(0, 0, 0, 0.3);
}

.catalog {
  display: flex;
  flex-direction: column;

  outline: 1px solid #d7373b;
}

.catalog > p {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.additional-filter {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 271px;
  justify-content: space-between;
}

.visual-button {
  width: 40px;
  margin: 0 0 0 48px;
}

.sort {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort:focus,
.sort:active {
  color: rgb(0, 0, 0);
}

.visual-button {
  list-style: none;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;

  outline: 1px solid #ca919c;
}

.catalog-list li {

}

.catalog-list-info {
  background-color: rgb(238, 238, 238);

  display: flex;
  align-items: center;
  width: 360px;
  flex-direction: column;
  padding-top: 35px;
  padding-bottom: 43px;
}

.catalog-item-header {

  /*Временно*/
  min-height: 40px;
  background-color: #c1c1c1;
  border-radius: 3px;
}

.name-product {
  line-height: 30px;
  font-size: 18px;
  text-transform: uppercase;
}

.product-description {
  color: rgb(102, 102, 102);
  line-height: 18px;
  font-weight: 400;
  text-transform: none;

  display: flex;
  flex-direction: column;
  padding: 0 91px;
  text-align: center;
}

.product-description:nth-child(2),
.product-description:nth-child(5),
.product-description:nth-child(6) {
  padding: 0 66px;
}

.button-price {
  font-weight: 500;
  width: 200px;
  padding: 17px 0;
}

.button-price:active {
  color: rgb(255, 255, 255);
}

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 443px;

  /*Временно*/
  outline: 1px solid #d7373b;
}

/*.pagination-list-number {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 443px;
}*/

.catalog-filter {
  display: flex;

  /*Временно*/
  outline: 1px solid #d7373b;
}

.catalog-filter p {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}


.pagination-item {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);

  padding: 19px 23px;

  display: inline-block;
}

.pagination-item-current {
  padding: 16px 21px;
}

.pagination-item-text {
  padding: 18px 79px;
}

.pagination-item:hover {
  background-color: rgb(223, 223, 223);
}

.pagination-item:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgb(213, 213, 213);
}

.pagination-item-current {
  line-height: 18px;
  font-weight: 500;
  border: 3px solid rgb(219, 219, 219);
  background-color: rgb(255, 255, 255);
}
